/angular/.angular/cache/
/angular/node_modules/
/backend/.bash_history
/backend/.cache/
/backend/.ipython/
/backend/.local/
/backend/**/__pycache__/
/backend/static/
/docker/.env
/postgres/
*.pyc
__pycache__/
*.py[cod]