.bounding-box-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bounding-box-block > div {
    flex: 1;
    margin-right: 10px;
}

.bounding-box-block > div:last-child {
    margin-right: 0;
}

/* validation error message */
.help-block.help-critical {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
}