import { ApplicationConfig, provideZoneChangeDetection } from '@angular/core';
import { provideRouter } from '@angular/router';
import {provideHttpClient} from '@angular/common/http'

import {NgcCookieConsentConfig,
  provideNgcCookieConsent} from 'ngx-cookieconsent'

import { routes } from './app.routes';

const cookieConfig: NgcCookieConsentConfig = {
  cookie: {domain: '«FRONTEND_DOMAIN»'},
  palette: {
    popup: {background: '#000'},
    button: {background: '#f1d600'}},
  theme: 'edgeless',
  type: 'opt-out'}

export const appConfig: ApplicationConfig = {
  providers: [
    provideZoneChangeDetection({ eventCoalescing: true }),
    provideRouter(routes),
    provideHttpClient(),
    provideNgcCookieConsent(cookieConfig)]
};
