.ropon-login-logo {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.password-reset-info {
    margin: 1.5rem auto ;
    width: 100%;

}
.no-split {
 white-space: nowrap;
}