# DJANGO configruation
DJANGO_SUPERUSER_USERNAME='admin'
DJANGO_SUPERUSER_PASSWORD='CHANGE_ME'
DJANGO_SUPERUSER_EMAIL='admin@your-domain.org'
# Generate with: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY='CHANGE_ME'
# DJANGO_ALLOWED_HOSTS='your-domain.org'

# Wagtail configuration
# WAGTAIL_SITE_NAME='Registry of Polar Observing Networks'
# CSRF_TRUSTED_ORIGINS='https://wagtail.your-domain.org'
# CORS_ALLOWED_ORIGINS='https://wagtail.your-domain.org'
# WAGTAIL_ADMIN_BASE_URL='https://wagtail.your-domain.org'
CORS_ALLOWED_ORIGINS='localhost:4200,localhost:8000'

# disable commenting in page editors
WAGTAILADMIN_COMMENTS_ENABLED=False
# password reset for users
WAGTAIL_PASSWORD_RESET_ENABLED=True
ROPON_ADMIN_EMAIL=
WAGTAILUSERS_PASSWORD_REQUIRED=False

WAGTAIL_ENABLE_WHATS_NEW_BANNER=False
WAGTAIL_ENABLE_UPDATE_CHECK=False


# Media configuration
MEDIA_ROOT='/srv/media'
MEDIA_URL='http://media.localhost/media/'

# Nginx Media Service configuration
NGINX_MEDIA_SERVER_NAME='media.localhost'
NGINX_MEDIA_CORS_ALLOWED_ORIGINS='http://localhost:4200,http://localhost:8000'
NGINX_MEDIA_CACHE_EXPIRES='1d'
NGINX_MEDIA_CACHE_MAX_AGE='86400'
 # Postgres configuration
POSTGRES_DB='ropon'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='CHANGE_ME'
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Frontend configuration
FRONTEND_URL='https://your-domain.org'


# WAGTAIL GUIDE package settings variables
ADD_WAGTAIL_GUIDE_TO_HELP_MENU=False
WAGTAIL_GUIDE_MENU_LABEL="Editor's Guide"
HIDE_WAGTAIL_CORE_EDITOR_GUIDE=True

# Email configuration
# SMTP server for your domain
# EMAIL_HOST=
# 587 for TLS
EMAIL_PORT=465
# SMTP username e.g. admin@your-domain.org
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
# SMTP username e.g. admin@your-domain.org
# DEFAULT_FROM_EMAIL=


# Angular

NODE_ENV=development
# Angular configuration — backend API URL for local development
API_URL='http://localhost:8000'