
wagtail>=6.2,<6.3
Django<5.2
psycopg2-binary==2.9.10
django-cors-headers==4.6.0
gunicorn==20.0.4
django-flags==5.0.13
environs==14.1.1
wagtail_guide==2.2.0
whitenoise[brotli]==6.9.0
django-redis==6.0.0
pycurl==7.45.7