.container>a
{ max-height: 130px;
  max-width: calc(100% - 72px) }

.container>a>img
{ max-height: 120px;
  max-width: 100% }

section
{ background-color: var(--ropon-blue);
  min-height: 1em;
  width: 100% }

.nav-link
{ color: white;
  font-size: x-large }

li>div
{ background-color: white;
  position: relative;
  height: 2px;
  left: 0.5em;
  top: -9px;
  transition: width 0.3s ease-in-out;
  width: 0 }

li:hover>div
{ width: calc(100% - 1em) }

.active>a
{ font-weight: var(--ropon-bold) }

.active>div
{ width: calc(100% - 1em) !important }

@media (min-width: 1200px)
{ .d-flex img
  { height: 80px } }

@media (min-width: 768px) and (max-width: 1199.98px)
{ .d-flex img
  { height: 51px } }

@media (max-width: 767.98px)
{ .d-flex img
  { height: 41px } }

@media (max-width: 575.98px)
{ .d-flex
  { display: none !important } }
